header {
	background: url(../images/main-background.png);
	background-size: cover;
	background-position: center;
	position: relative;

	.main-menu {
		height: 40px;
		padding: 10px 20px;
		font-size: 1em;
		font-weight: 700;
		text-transform: uppercase;

		@include mediumScreen {
			font-size: 1.2em;
		}

		ul {
			display: inline-flex;

			li {
				margin-right: 20px;

				a.hover-cyan:hover {
					color: $cyan;
				}

				a.hover-magenta:hover {
					color: $magenta;
				}

				a.hover-yellow:hover {
					color: $yellow;
				}
			}
		}
	}

	#big-title {
		min-height: 100vh;
		margin-top: -40px;
		display: flex;
		align-items: center;
		justify-content: center;

		h1 {
			display: inline-block;
			text-align: left;
			font-weight: 700;
			text-transform: uppercase;
			font-size: 17vw;
			line-height: 15vw;

			@include mediumScreen {
				font-size: 13vw;
				line-height: 11vw;
			}

			@include largeScreen {
				font-size: 8vw;
				line-height: 6vw;
			}

			.random-cmyk {
				transition: color .25s ease !important;
			}

			.cyan {
				color: $cyan;
			}

			.magenta {
				color: $magenta;
			}

			.yellow {
				color: $yellow;
			}
		}
	}
}