header {
	position: relative;
	background: url(../images/main-background.png) $bg-color;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

	.main-menu {
		padding: 10px 20px;
		font-size: 1em;
		font-weight: 700;
		text-transform: uppercase;
		display: flex;
		justify-content: space-between;
		height: 50px;

		.main-menu-left,
		.main-menu-right {
			display: flex;
		}

		.main-menu-left {
			.main-menu-left-1 {
				margin-right: 30px;
				padding-right: 30px;
				border-right: 2px solid $bg-color;

				#big-title-but-small {
					color: $bg-color;

					h1 {
						display: inline-block;
						text-align: left;
						font-weight: 700;
						text-transform: uppercase;
						font-size: 1.1rem;
						line-height: 1rem;

						@include random-cmyk;
					}
				}
			}

			.main-menu-left-2 {
				display: flex;

				ul {
					display: flex;
					align-items: center;

					li {
						margin-right: 20px;

						a, a:link, a:visited {
							color: $bg-color;
						}

						a.hover-cyan:hover {
							color: $cyan;
						}

						a.hover-magenta:hover {
							color: $magenta;
						}

						a.hover-yellow:hover {
							color: $yellow;
						}
					}
				}
			}
		}
	}

	#big-title {
		min-height: calc(100vh - 50px);
		display: flex;
		align-items: center;
		justify-content: center;
		color: $bg-color;

		h1 {
			display: inline-block;
			text-align: left;
			font-weight: 700;
			text-transform: uppercase;
			font-size: 17vw;
			line-height: 15vw;

			@include mediumScreen {
				font-size: 13vw;
				line-height: 11vw;
			}

			@include largeScreen {
				font-size: 8vw;
				line-height: 6.5vw;
			}

			@include random-cmyk;
		}
	}
}