header {
	/*background-image: linear-gradient(rgba($bg-color, 0), rgba($bg-color, 1)), url("../images/main-backgrouns-motifs.png");*/
	background-size: cover;
	background-position: center, top;

	.section-wrapper#welcome {
		@include onlyMobile {
			padding-top: 0;
		}

		@include largeScreen {
			margin-top: -45px;
			padding-top: 0;
		}

		.landing-wrapper {

			* {
				text-align: left;
			}

			min-height: 40vh;
			align-items: center;
			display: flex;
			position: relative;

			@include onlyMobile {
				align-items: flex-start;
			}

			@include largeScreen {
				height: 100vh;
			}

			h1#name {
				font-size: 2rem;
				line-height: 2rem;
				margin-bottom: 10px;

				@include mediumScreen {
					font-size: 3rem;
					line-height: 3rem;
				}

				@include largeScreen {
					font-size: 4rem;
					line-height: 4rem;
				}
			}

			a#hire-me {
				div {
					margin-top: 40px;
					display: inline-block;
					padding: 15px;
					border-radius: 100px;
					background: $text-color;
					color: $bg-color;
					width: 120px;
					text-align: center;
					font-weight: 700;

					@include mediumScreen {
						padding: 20px;
						width: 150px
					}

					&:hover {
						background: $bloo;
					}
				}
			}

			.img-holder {
				text-align: center;
				margin: 20px 0 40px;

				@include mediumScreen {
					padding-left: 40px;
					margin: initial;
					text-align: initial;
				}

				img {
					max-width: 80%;

					@include mediumScreen {
						max-width: 100%;
					}
				}
			}
		}
	}
}