header {
	.main-menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 30px;
		z-index: 2;
		background: $bg-color;
		width: 100%;

		position: fixed;
		top: 0;

		@include mediumScreen {
			padding: 0 80px;
		}

		* {
			font-weight: 700;
		}

		.main-menu-left {
			display: flex;
			align-items: center;
			height: $main-menu-height;

			* {
				display: flex;
				align-items: center;
				height: 100%;
			}

			.main-menu-left-1 {
				margin-right: 30px;

				@include mediumScreen {
					margin-right: 80px;
				}

				h1 {
					text-align: left;
					line-height: 1.1rem;
					font-size: 1.2rem;
				}
			}

			.main-menu-left-2 {
				display: flex;

				ul {
					display: flex;
					font-size: .9rem;

					li {
						margin-right: 30px;

						&.active-page,
						&:hover {
							border-top: 10px solid $bloo;
							margin-top: -10px;
						}
					}
				}
			}
		}
	}

	.drop-down-menu {
		display: none;
		width: 100%;
		height: 100vh;

		position: fixed;
		top: 90px;
		right: 0;
		z-index: 1;

		background-color: rgba( $bg-color, .5 );

		ul {
			li {
				font-weight: 700;
				width: 100%;
				display: flex;
				align-items: center;
				background: black;
				border-bottom: 1px solid $bg-color;

				a {
					padding: 13px 30px;
					height: 50px;
					width: 100%;
				}

				&:hover {
					background: $bg-color;
				}
			}	
		}

		&.open {
			display: block;
		}
	}
}