header {
	.main-menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 30px;

		@include mediumScreen {
			padding: 0 80px;
		}

		* {
			font-weight: 700;
		}

		.main-menu-left {
			display: flex;
			align-items: center;
			height: $header-height;

			* {
				display: flex;
				align-items: center;
				height: $header-height;
			}

			.main-menu-left-1 {
				margin-right: 30px;

				@include mediumScreen {
					margin-right: 80px;
				}

				h1 {
					text-align: left;
					line-height: 1.1rem;
					font-size: 1.2rem;
				}
			}

			.main-menu-left-2 {
				display: flex;

				ul {
					display: flex;
					font-size: .9rem;

					li {
						margin-right: 30px;

						&.active-page,
						:hover {
							border-top: 15px solid $bloo;
							margin-top: -15px;
						}
					}
				}
			}
		}
	}
}