header {
	.main-menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 50px;
		z-index: 2;
		background: $bg-color;
		width: 100%;
		height: $main-menu-height;

		position: fixed;
		top: 0;
		transition: .2s ease;

		@include onlyMobile {
			padding: 0 30px;
		}

		@include largeScreen {
			padding: 0 80px;
		}

		&.scrolled {
			filter: drop-shadow(0 0 5px darken( $bg-color, 2.5%));
			height: 60px;

			background: darken( $bg-color, 2.5%);
		}

		.main-menu-left {
			display: flex;
			align-items: center;
			width: 100%;
			justify-content: space-between;
			height: 100%;

			/*@include largeScreen {
				width: initial;
				justify-content: initial;
			}*/

			* {
				font-weight: 700;
				height: 100%;
				display: flex;
				align-items: center;
			}

			.main-menu-left-1 {
				margin-right: 30px;

				@include mediumScreen {
					margin-right: 80px;
				}

				span {
					text-align: left;
					line-height: 1.1rem;
					font-size: 1.2rem;
				}
			}

			.main-menu-left-2 {
				display: flex;

				ul {
					display: flex;
					grid-gap: 30px;
					font-size: .9rem;

					li {
						&.active-page,
						&:hover {
							border-top: 10px solid $bloo;
							margin-top: -10px;
						}
					}
				}
			}
		}
	}

	.drop-down-menu {
		display: none;
		width: 100%;
		height: 100vh;

		position: fixed;
		top: 90px;
		right: 0;
		z-index: 1;

		background-color: rgba( $bg-color, .70 );
		transition: .2s ease;

		&.scrolled {
			top: 60px;
		}

		ul {
			background-color: darken( $bg-color, 5%);

			li {
				font-weight: 700;
				width: 100%;
				display: flex;
				align-items: center;
				border-bottom: 1px solid $bg-color;

				a {
					padding: 13px 30px;
					height: 50px;
					width: 100%;
				}

				&:hover {
					background: $bg-color;
				}
			}	
		}

		&.open {
			display: block;
		}
	}
}