/* width */
::-webkit-scrollbar {
  width: 7.5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $bg-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lighten($bg-color, 15%);
  border-radius: 100px;
  /*border: 2px solid $bg-color;*/
}

/* Handle on hover */
/*::-webkit-scrollbar-thumb:hover {
  background: lighten($bloo, 10%);
}*/