.work-wrapper {
	.project-image-wrapper {
		img {
			height: 200px;
			width: 100%;
			object-fit: cover;

			@include mediumScreen {
				height: 300px;
			}

			@include largeScreen {
				height: 400px;
			}
		}
	}

	.project-info {
		margin: 30px 0 0;

		.project-info-list {
			margin-bottom: 20px;

			@include largeScreen {
				padding-right: 30px;
				margin: initial;
			}

			ul {
				li {
					opacity: 50%;

					@include largeScreen {
						margin-bottom: 20px;
					}

					&:last-child {
						margin-bottom: 0;
					}

					span.project-info-list-subtitle {
						font-weight: bold;
						letter-spacing: 1px;
					}
				}
			}
		}

		.project-description {
			/*column-count: 2;
			grid-gap: 30px;*/
		}
	}

	/* MASONRY STUFF */

	img {
		max-width: 100%;
		height: auto;
		vertical-align: middle;
		display: inline-block;
	}
}

.masonry {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;

	@include mediumScreen {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}

	@include largeScreen {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	}

	> div {
		display: flex;
		justify-content: center;
		align-items: center;

		> img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 2px;
		}
	}

	.wide {
		grid-column: span 2;
	}

	.tall {
		grid-row: span 2;
	}

	.big {
		grid-column: span 2;
		grid-row: span 2;
	}
}