.work-wrapper {
	.projects-grid {
		.project-category-wrapper {
			margin-bottom: 20px;

			@include mediumScreen {
				margin-bottom: 30px;
			}

			@include largeScreen {
				margin-bottom: 40px;
			}
		}

		.projects-title {
			width: 100%;

			> h1 {
				@include title-with-bar;
			}

			.filters {
				display: flex;
				font-weight: bold;
				margin-bottom: 20px;
				margin-top: 10px;

				ul {
					display: flex;
					flex-flow: wrap;
					@include filters;

					li {
						margin-right: 10px;
						margin-bottom: 10px;
						padding: 3px 13px;
						cursor: pointer;
						position: relative;

						&::before {
							content: "";
						    position: absolute;
						    width: 5px;
						    height: 100%;
						    bottom: 0;
						    left: 0;
						    background-color: $bloo;
						    z-index: -1;
						    transition: .3s ease;
						}

						&:hover {
							&::before {
								width: 100%;
							}
						}
					}
				}
			}
		}

		.single-project-wrapper {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			grid-gap: 20px;

			@include mediumScreen {
				grid-template-columns: repeat(2, 1fr);
				grid-gap: 30px;
			}

			@include largeScreen {
				grid-template-columns: repeat(3, 1fr);
				grid-gap: 40px
			}

			.project-image-holder {
				overflow: hidden;
				border-radius: 2px;

				img {
					object-fit: cover;
					height: 100%;
					width: 100%;
					transition: transform ease 0.2s;

					@include mediumScreen {
						height: 200px;
					}

					@include largeScreen {
						height: 250px;
					}

					/*&:hover {
						transform: scale(1.05);
					}*/
				}
			}

			h2 {
				text-align: left;
				margin-bottom: 10px;

				@include paragraph;
			}
		}
	}
}