/* VARIABLES */
$bg-color: #161616;
$text-color: #f1f1f1;

$cyan: #00aeef;
$magenta: #ec008c;
$yellow: #fff200;
$bloo: #a1ccdd;

$main-menu-height: 90px;

/* MIXINS */

@mixin random-cmyk {
.random-cmyk {
				transition: color .25s ease !important;
			}

			.cyan {
				color: $cyan;
			}

			.magenta {
				color: $magenta;
			}

			.yellow {
				color: $yellow;
			}
	}

	@mixin cmyk-ul-li-a-hovers {
		ul {
					display: flex;
					align-items: center;

					li {
						margin-right: 20px;

						a, a:link, a:visited {
							color: $bg-color;
						}

						a.hover-cyan:hover {
							color: $cyan;
						}

						a.hover-magenta:hover {
							color: $magenta;
						}

						a.hover-yellow:hover {
							color: $yellow;
						}

						&:last-child {
							margin: 0;
						}
					}
				}
	}