header {
	.landing-wrapper {

		* {
			text-align: left;
		}

		height: 400px;
		max-width: 500px;
		margin: auto;
		padding: 0 30px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;

		@include mediumScreen {
			padding: 0 100px;
			max-width: 1400px;
		}

		@include largeScreen {
			height: 100vh;
			margin: -100px auto;
		}

		h1#name {
			font-size: 3rem;
			line-height: 3rem;
			margin-bottom: 10px;
		}

		a#hire-me {
			div {
				margin-top: 30px;
				display: inline-block;
				padding: 20px;
				border-radius: 100px;
				background: $bloo;
				color: $bg-color;
				width: 150px;
				text-align: center;
				font-weight: 700;

				&:hover {
					background: $text-color;
				}
			}
		}
	}
}