header {
	.landing-wrapper {
		height: 400px;
		max-width: 500px;
		margin: auto;
		padding: 0 30px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;

		@include mediumScreen {
			padding: 0 100px;
			max-width: 1200px;
		}

		@include largeScreen {
			height: 100vh;
			margin: -100px auto;
		}

		* {
			text-align: left;
		}
	}
}